<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="login.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body id="login-bg">
            <div class="outer">
                    <div class="middle">
                      <div class="inner">
                            <h2>Activity Technology</h2>
                            <form action="/loginUsers" method="POST">
                                <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input type="text" class="form-control" name="user" placeholder="User" required>
                                      </div>
                                      <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                                      </div>
                                <button class="btn btn-primary" type="submit">Ingresar</button>
                            </form>
                      </div>
                    </div>
    </div>
</body>
</html>
