<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="register.css">
    <title>Document</title>
</head>
<body id= "register-bg">
        <div class="outer">
                <div class="middle">
                  <div class="inner">
        <h1 id="register">Register</h1>
        <form action="/registerUsers" method="POST">
            <div class="form-group">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control" id="usr" required  name="user">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" name="password" required  >
                  </div>
                  <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" name="name"  >
                      </div>
                            <div class="form-group">
                                    <label for="ide">identification:</label>
                                    <input type="text" class="form-control" name="identification">
                          </div>
                          <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" name="email">
                      </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <br>
    </div>
</div>
</div>
</body>
</html>